[editor]

# File menu
EditFile = ctrl-e # ctrl-o for leaving shell can't be changed, so we keep ctrl-o for entering shell
EditNew = ctrl-n
Close = ctrl-w
History = ctrl-alt-e
Save = ctrl-s; f2
SaveAs = ctrl-alt-s
InsertFile = #ctrl-i
BlockSave = ctrl-t
UserMenu = f12
Quit = ctrl-q; f10

# Edit menu
Undo = ctrl-z
Redo = ctrl-y
Mark = f3 # Fixed mapping in button bar
MarkColumn = alt-shift-m
MarkAll = ctrl-a
Unmark = escape
Store = ctrl-c; ctrl-insert
Cut = ctrl-x; shift-delete
Paste = ctrl-v; shift-insert
Remove = delete; f8
Top = ctrl-home
Bottom = ctrl-end

# Search menu
Search = ctrl-f; f7
SearchContinue = ctrl-alt-f # F3 has fixed meaning in button bar
Replace = ctrl-r; ctrl-h; f4 # ctrl-h is not mappable
Bookmark = ctrl-alt-k
BookmarkNext = ctrl-alt-l
BookmarkPrev = ctrl-alt-j
BookmarkFlush  = ctrl-alt-i

# Command menu
Goto = alt-g; ctrl-g # ctrl-g is not mappable
ShowNumbers = alt-n
MatchBracket = ctrl-backslash; shift-ctrl-backslash
SyntaxOnOff = alt-h
MacroStartStopRecord = alt-r
SelectCodepage = # TODO

# Format menu
InsertLiteral = ctrl-u
ParagraphFormat = alt-p
Sort = alt-t
ExternalCommand = alt-u

# Window menu
WindowNext = ctrl-tab
WindowList = ctrl-alt-w

# Editor hotkeys
Tab = tab
BlockShiftRight = tab
BlockShiftLeft = shift-tab
DeleteLine = ctrl-d
Delete = del
WordLeft = ctrl-left
WordRight = ctrl-right
MarkToFileBegin = ctrl-shift-home
MarkToFileEnd = ctrl-shift-end
Top = ctrl-home
Bottom = ctrl-end
